.orbit-slide-number {
  visibility: hidden;
}
a:hover {
  text-decoration: underline;
}
a.button {
  text-decoration: none;
}
p.tlo {
  text-align: justify;
}
.itc {
  text-align: center;
}
#foxyform_embed_link_60209 {
  display: none !important;
}
iframe {
  height: 450px;
  margin: 0 30%;
}
.hck {
  background: #477289;
}
#hck-tb {
  height: 80px;
}
#hck-tb .top-bar-section li a:not(.button) {
  line-height: 80px;
  background: #477289;
}
#hck-tb .top-bar-section li a:hover {
  color: #8AC643;
  text-decoration: none;
  border-bottom: 2px solid #8AC643;
  line-height: 78px;
}
#footer-wrap {
  background: #DDD;
}
